/* Variables */

:root {
  --color-main: #135589;
  --color-tint: #135589BB;
  --color-accent: #057B79;
  --color-error: #A80404;
  --color-text: #0B2C46;
  --color-shadow: #00000050;
  --color-offwhite: #EDFAFDE0;
}

/* Clearfix */

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Global styles */

*:focus {
  outline-color: var(--color-main);
}

body {
  background: var(--color-accent); /* fallback color */
  background: linear-gradient(0deg, var(--color-tint), var(--color-tint)), 
              url("christopher-harris-55545-unsplash.jpg")  no-repeat center center fixed; /* Photo by Christopher Harris on Unsplash */
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .025rem;
  color: black;
}

/* Login Block */

.container {
  width: 80%;
  max-width: 25rem;
  margin: 3rem auto;
  padding-top: 2rem;
  background: var(--color-offwhite);
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px var(--color-shadow);
}

header {
  text-align: center;
}

.login-icon {
  margin: 1.5rem auto 0 auto;
  font-size: 4.3rem;
  text-align: center;
  color: var(--color-accent);
}

h1 {
  color: var(--color-main);
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem auto;
}

/* Summary of Errors style */

ul#errors {
  padding: .5rem 0 .5rem 1.05rem;
}

ul#errors > li {
  list-style-type: disc !important;
  list-style-position: unset;
  color: var(--color-error);
  font-size: .85rem;
  padding: 0;
}

/* Form styles */

form {
  padding: 0 3rem 2rem 3rem;
  border-radius: 4px;
}

form:focus-within {
  background: whitesmoke;
}

.row {
  margin-top: 1rem;
  text-align: initial;

  /* flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; 
}

input {
  background: white;
  caret-color: var(--color-main);
  border: var(--color-main) 1px solid;
  border-bottom: var(--color-main) 2px solid;
  border-radius: 4px;
  line-height: 1.5rem;
  margin: .5rem 0;
  padding: .3rem;
  font-size: 1rem;
  color: var(--color-main);
  flex: 2 0 auto;
}

label {
  font-size: 1rem;
  text-decoration: none;
  flex: 1 0 auto;
}

/* Hints and Errors style */

.hint {
  font-weight: lighter;
  font-size: .75rem;
  color: var(--color-main);
  text-align: initial;
  padding: .5rem 0;

  /* animation */
  overflow: hidden;
  max-height: 9.5rem;
  transition: max-height 0.85s ease-in;
}

@media screen and (prefers-reduced-motion: reduce) {
  .hint {
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }
}

@media (min-width: 440px) {
  .hint {
    width: 68%;
    margin-left: auto;
  }
}

.hint.error {
  color: var(--color-error);
}

input.error {
  border: var(--color-error) 2px solid;
  border-bottom: var(--color-error) 4px solid;
}

.hint.hidden {
  max-height: 0;
  padding: 0;
  margin: 0;
  transition: max-height 0.85s ease-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .hint.hidden {
    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
  }
}

/* Show password toggle */

#pass-show {
  margin: 0 0 0 -2.2rem;
  padding: .5rem;
  cursor: pointer;
}

/* Password recovery block */

a.pass-forgot {
  text-align: end;
  color: var(--color-main);
  margin: .5rem 0;
  display: block;
}

a.pass-forgot:focus {
  color: var(--color-accent);
}

a.pass-forgot,
label.remember input#remember {
  font-size: .95rem;
  margin-top: 1rem;
}

/* Option to save username locally */

label.remember:focus {
  outline: var(--color-accent) auto 5px;
}

label.remember:hover,
input#remember:hover {
  cursor: pointer;
}

input#remember {
  margin: 0 .75rem 0 0;
  border-radius: 4px;
}

input#remember:focus {
  border: var(--color-accent) .5rem solid;
}

/* Login button */

input.btn {
  flex: 0 1 auto;
  padding: .5rem 2rem;
  margin: 1.5rem auto 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--color-main);
  border: var(--color-accent) 1px solid;
  border-radius: 4px;
  color: white;
  -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
      -ms-transition: all 0.6s ease-out;
       -o-transition: all 0.6s ease-out;
          transition: all 0.6s ease-out; 
}

@media screen and (prefers-reduced-motion: reduce) {
  input.btn {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
  }
}

input.btn:hover,
input.btn:focus {
  cursor: pointer;
  background: var(--color-accent);
  box-shadow: 0px 10px 30px 0px var(--color-shadow);
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}